.main {
    padding-top: 10px;
}

.active {
    background-color: #eee;
}

/*.sidebar {
    padding-top: 60px;
    background-color: #f1f1f1;
    height: 100%;
}*/

.footer {
    background-color: #f5f5f5;
    bottom: 0;
    height: 30px;
    position: absolute;
    width: 100%;
    z-index:9999;
}
.sdtpadding
{
	padding-top:7px;
}

html, body, .container-fluid, .row {
  height: 100%;
}
.sidebar {
  background-color: #f5f5f5;
}

@media (min-width: 992px) {
  .sidebar {
    background-color: #f5f5f5;
    bottom: 0;
    display: block;
    height: 98%;
    left: 0;
    padding-top: 62px;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
}

