<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Project name</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" placeholder="Search..." class="form-control">
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
     	<div class="col-md-2 sidebar sidebar-menu-collapsed treeview">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#content1.html">Content 1</a></li>
            <li><a href="#analytics.html">Analytics</a></li>
            <li><a href="#">Export</a></li>
          </ul>
          <ul class="well nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a>
            	<ul class="nav nav-list tree">
		            <li><a href="">Nav item</a></li>
		            <li><a href="">Nav item again</a></li>
		            <li><a href="">One more nav</a></li>
		            <li><a href="">Another nav item</a></li>
		            <li><a href="">More navigation</a></li>
		          </ul>

            </li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
        
        </div>
        <div class="col-md-10 col-md-offset-2 main">
        	<h1 class="page-header sdoc" id="contentheader">test</h1>
        	<div class="row">
        		<div class="col-xs-12 col-sm-12 col-md-12 sdoc" id="content">
        			test3
        		</div>
        	</div>
        </div>
       	

    </div>
</div>
<footer class="footer">
	<div class="container-fluid sdtpadding">
	Copyright - Reserved
	</div>
</footer>
